.cda-img {
  width: 100%;
  position: relative;
}

.heading {
  position: absolute;
  z-index: 1;
  width: 60%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 46px;
  letter-spacing: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  margin: 50px;
}

.title {
  color: #000066;
  font-size: 17px;
  margin-top: 75px;
  margin-left: 50px;
}

.sub-title {
  list-style: none;
  font-size: 16px;
}
